/*
 * Style Sheet
 *
 * Copyright © Vladislav Kazantsev
 * All rights reserved.
 * This code is the intellectual property of Vladislav Kazantsev.
 * You are welcome to clone the related repository and use the code for exploratory purposes.
 * However, unauthorized reproduction, modification, or redistribution of this code (including cloning of related repository or altering it for activities beyond exploratory use) is strictly prohibited.
 * Code snippets may be shared only when the original author is explicitly credited and a direct link to the original source of the code is provided alongside the code snippet.
 * Sharing the link to the file is permitted, except when directed toward retrieval purposes.
 * Any form of interaction with this file is strictly prohibited when facilitated by the code, except when such interaction is for discussion or exchange purposes with others.
 * This copyright notice applies globally.
 * For inquiries about collaboration, usage outside exploratory purposes, or permissions, please contact: hypervisor7@pm.me
 */

body {
  margin: 0; /* Set the margin of the element. */
  padding: 0; /* Set the padding of the element. */
}

.gradient-background {
  background: linear-gradient(
    300deg,
    #cc3344,
    #ff4f68
  ); /* Set the background of the element. */
  background-size: 180% 180%;
  animation: gradient-animation 1s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

h1 {
  color: #ffffff !important; /* Set the color for the text of the element. */
}

#concept-div {
  margin-left: auto; /* Set the left margin of the element. */
  margin-right: auto; /* Set the right margin of the element. */
}

#app-concept {
  animation: brighten 1s;
  border-radius: 10% 10% 0 0;
}

@keyframes brighten {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#stack-area {
  width: 100%; /* Set the width of the element. */
  height: 350vh; /* Set the height of the element. */
  position: relative; /* Specify the positioning method for the element. */
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
}

#left,
#right {
  flex-basis: 50%;
  height: 100vh; /* Set the height of the element. */
  position: sticky; /* Specify the positioning method for the element. */
  top: 0;
}

#left {
  left: 0;
  padding: 0 5vw; /* Set the padding of the element. */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#right {
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  position: absolute; /* Specify the positioning method for the element. */
  top: calc(50% - 175px);
  left: calc(50% - 175px);
  width: 350px; /* Set the width of the element. */
  height: 350px; /* Set the height of the element. */
  border-radius: 25px;
  margin-bottom: 10px; /* Set the bottom margin of the element. */
  color: #ffffff; /* Set the color for the text of the element. */
  transition: 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px; /* Set the padding of the element. */
}

.card p:nth-of-type(1) {
  margin: 1rem 0;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 780px) {
  #left {
    padding: 0 5vw; /* Set the padding of the element. */
  }

  .card {
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    width: 300px; /* Set the width of the element. */
    height: 300px; /* Set the height of the element. */
  }
}

@media (max-width: 450px) {
  #stack-area {
    height: 100vh; /* Set the height of the element. */
    flex-direction: column;
  }

  #left {
    height: 50vh;
    flex-basis: 35%;
  }

  #right {
    height: 25vh; /* Set the height of the element. */
  }
}

#card1 {
  background-color: #ff4759;
}

#card2 {
  background-color: #ff3252;
}

#card3 {
  background-color: #ff2040;
}

#card4 {
  background-color: #ff0a2f;
}

#card5 {
  background-color: #f50025;
}

.away {
  transform-origin: bottom left;
}

#testimonial > div > div {
  height: 85vh; /* Set the height of the element. */
  padding: 0; /* Set the padding of the element. */
  margin: 0; /* Set the margin of the element. */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.highlight {
  color: #ff4f68; /* Set the color for the text of the element. */
}

.to-top {
  background: #ff4f68; /* Set the background of the element. */
  position: fixed; /* Specify the positioning method for the element. */
  bottom: 56px;
  right: 15px;
  width: 45px; /* Set the width of the element. */
  height: 45px; /* Set the height of the element. */
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-decoration: none;
  pointer-events: none;
  transition: 0.25s;
}

.to-top.active {
  bottom: 56px;
  pointer-events: auto;
  opacity: 1;
}

.profile-img {
  height: 100px; /* Set the height of the element. */
  border-radius: 50%;
}

footer {
  color: #ffffff; /* Set the color for the text of the element. */
  width: 100%; /* Set the width of the element. */
}

#contact {
  padding: 25px 0 38px; /* Set the padding of the element. */
  margin: 0; /* Set the margin of the element. */
}

#contact > .container {
  height: 15vh; /* Set the height of the element. */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Set the width of the element. */
}

footer p {
  margin: 0; /* Set the margin of the element. */
  padding: 0 0 20px; /* Set the padding of the element. */
}

a {
  color: #ffffff; /* Set the color for the text of the element. */
}

.bmc-button {
  display: block; /* Specify the display behavior of the element. */
  width: fit-content; /* Set the width of the element. */
  height: 3rem; /* Set the height of the element. */
  margin: 0 auto 25px; /* Set the size for the margin of the element. */
  background-color: #ff843f !important; /* Set the color for the background of the element. */
  color: #ffffff; /* Set the color for the text of the element. */
  font-family: "Cookie", cursive; /* Set the font family for the text of the element. */
  font-weight: bold; /* Set the font weight for the text of the element. */
  text-decoration: none; /* Set the decoration for the text of the element. */
  text-shadow: 1px 1px 2px #00000080; /* Set the shadow for the text of the element. */
  border: none;
  padding: 10px 20px; /* Set the padding of the element. */
  cursor: pointer; /* Specify the type of cursor to be displayed when hovering over the element. */
  outline: none;
  box-shadow: 0 4px 8px #00000037; /* Set the shadow of the element. */
  /* Set the border radius for the corners of the element. */
  -webkit-border-radius: 5px; /* For older versions of Chrome and Safari. */
  -moz-border-radius: 5px; /* For older versions of Firefox. */
  -o-border-radius: 5px; /* For older versions of Opera. */
  border-radius: 5px; /* Standard property for border radius. */
  /* Add a transition effect for changes in properties. */
  -webkit-transition: 0.5s; /* For older versions of Chrome and Safari. */
  -o-transition: 0.5s; /* For older versions of Opera. */
  transition: 0.5s; /* Standard syntax for modern browsers (widely supported). */
}

.bmc-button:active {
  transform: scale(0.95);
  box-shadow: 0 4px 8px #0000004d;
}

@media (max-width: 1290px) {
  #testimonial {
    padding: 50px 0; /* Set the padding of the element. */
  }

  #contact {
    display: block;
    position: relative; /* Specify the positioning method for the element. */
    bottom: 0;
    padding: 35px 0 70px; /* Set the padding of the element. */
  }

  #contact container {
    display: block;
  }

  .bmc-button {
    margin: 0 auto 0; /* Set the size for the margin of the element. */
    height: auto; /* Set the height of the element. */
  }
}

@media (max-width: 430px) {
  .brands {
    padding-bottom: 3rem !important;
    margin-bottom: 3rem !important;
  }

  .brands .row {
    padding-bottom: 3rem !important;
    margin-bottom: 3rem !important;
  }
}

@media (max-width: 1000px) and (max-height: 430px) {
  #testimonial > div > div {
    height: 150vh; /* Set the height of the element. */
    margin-top: 0.25rem !important;
    padding-top: 0 !important;
  }

  ul.nav {
    padding-bottom: 0.25rem !important;
    margin-bottom: 0.25rem !important;
  }
}

@media print {
  button {
    display: none !important;
  }

  #stack-area {
    height: 50vh; /* Set the height of the element. */
  }
}

/* noscript. */
noscript #enable-javascript {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25vw; /* Set the padding of the element. */
}

noscript h2 {
  margin: 5vh; /* Set the margin of the element. */
}

noscript main {
  display: none;
}

noscript h2 {
  padding: 5vh 0 0; /* Set the padding of the element. */
}

noscript p {
  min-width: 50vw;
}

noscript details {
  min-width: 50vw;
  text-align: inherit;
}

noscript details summary {
  margin: 1vh; /* Set the margin of the element. */
  text-align: center;
}

li {
  margin: 0.5vh 0; /* Set the margin of the element. */
}
